In [ ]:
!pip install pycaret

In [2]:
from pycaret.datasets import get_data
from pycaret.classification import ClassificationExperiment
from pycaret.classification import *

In [26]:
data = np.array([6, 148, 72, 35, 0, 33.6, 0.627, 50, 1])
data1 = {
    'data': data
}
data1 = pd.DataFrame(data1)


transposed_data1 = data1.transpose()
transposed_data1

0      6.000
1    148.000
2     72.000
3     35.000
4      0.000
5     33.600
6      0.627
7     50.000
8      1.000
Name: data, dtype: float64

In [20]:
import numpy as np
import pandas as pd

data = np.array([6,148,72,35,0,33.6,0.627,50,1])
data1 = {
    'data':data
}
data1 = pd.DataFrame(data
                    )
data1

         0
0    6.000
1  148.000
2   72.000
3   35.000
4    0.000
5   33.600
6    0.627
7   50.000
8    1.000

In [3]:
data1 = get_data('diabetes')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
# data1.columns
first_5_rows = data1.head(1)
first_5_rows

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1

In [4]:
# functional API
loaded_model = load_model('my_best_pipeline')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=FastMemory(location=C:\Users\SAJJAD~1\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['Number of times pregnant',
                                             'Plasma glucose concentration a 2 '
                                             'hours in an oral glucose '
                                             'tolerance test',
                                             'Diastolic blood pressure (mm Hg)',
                                             'Triceps skin fold thickness (mm)',
                                             '2-Hour serum insulin (mu U/ml)',
                                             'Body mass index (weight in '
                                             'kg/(height in m)^2)',
                                             'Diabetes pedigree function',
                                             'Age (years)'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=[],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('clean_column_names',
                 TransformerWrapper(transformer=CleanColumnNames())),
                ('trained_model',
                 LogisticRegression(max_iter=1000, random_state=123))])

In [10]:



predict_model(loaded_model, data=first_5_rows)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable,prediction_label,prediction_score
0,6,148,72,35,0,33.599998,0.627,50,1,1,0.6939